header{
  margin-top: 10px;
  background-color: #999999;
  height: 100px;
  width: 100%;
}

nav{
  float: left; /* alignement entre elements */
}

nav li{
  display: inline; /* mode d'affichage, ici en ligne */
  font-size: 150%; /*taille de la police*/
}

nav li a{
  padding: 10px; /*marge interne*/
  color: white; /* couleur du texte */
  background-color: black; /* couleur de l'arriere plan */
  font-weight: bold; /* mise en gras du texte*/
  text-decoration: none; /* suppression du soulignement*/
}

nav li a:hover{
  color: black;
  background-color: white;
}
